.errorMessage { 
    color: red; 
    background-color: rgba(255, 1, 120, 0.2); 
    display: none;
 }
.answerDisplay{ 
    width: 60px; 
    margin: 0px 20px; 
    display: none; 
}
.answerForm { 
    width: 60px;
 }
 #timeLimitDisplay { 
     width: 150px; 
     height: 80px; 
     position: absolute; 
     top: 0; 
     right: 0; 
     background-color: #BBB; 
     color: #000; 
     display: none;
     }
#timeLimitCount { 
    font-size: 27px; 
    text-align: center; 
    line-height: 80px;
 }
.timeLimitRunningOut { 
    background-color: red !important;
    color: #FFF !important;
}
#timeLimitUnit { 
    font-size: 20px; 
    text-align: center; 
    position: absolute; 
    bottom: -20px; 
    right: 5px; 
    line-height: 80px;
 }
#countDown { 
    display: none; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    font-size: 50px; 
    color: #FFF; 
    text-align: center; 
    background-color: #777; 
    opacity: 0.7; 
    line-height: 100vh;
 }